---
import Layout from '../layouts/Layout.astro';

---

<Layout title="NIV Phonebook">
	<main>
		<h1>NIV Phonebook </h1>
        <input autocomplete="off" id="search" type="text" placeholder="Search..."> </input>
        <div class="table-container"> 
           <table> 
               <tr class="table-head">
                  <th> Name </th>
                  <th> Number </th>
                  <th> Type </th>
               </tr>
           </table>
	    </div>

    <script>
        const container = document.querySelector("table")
        const searchbar = document.querySelector("#search")
        
        let searchString = ""

        const main = async () => {
            
            searchbar.addEventListener("keyup", (event) => {
                clearList()
                searchString = event.currentTarget.value ?? null
                loadData()
            })

            loadData()
        }

        const loadData = async () => {
            const domain = window.location.hostname
            const filter = searchString !== "" ? `&filter=(name~"${searchString}" || number~"${searchString}")` : ""
            const data = await (await fetch(`http://${domain}:8090/api/collections/phonebook_items/records?perPage=0${filter}`)).json()

            for (let item of data.items) {
                console.log(item)
                let node = document.createElement("tr")
                node.innerHTML = `
                    <td> ${item?.name} </td>
                    <td> ${item?.number} </td>
                    <td> ${item?.type} </td>
                `
                container.append(node)
            } 
        }

        const clearList = () => {
            const headerElement = document.createElement("tr")
            headerElement.innerHTML = `
                <th> Name </th>
                <th> Number </th>
                <th> Type </th>
            `
            container.replaceChildren(headerElement)     
        }

        main()
    </script>

	</main>
</Layout>

<style is:global>

    * {
        box-sizing: border-box;
    }

    body {
        background-color: black;
        color: #F3DAA4;
        height: 100vh;
        width: 100%;
        margin: 0;
    }

	main {
        padding: 5rem;
		width: 100%;
        display: grid;
        grid-template-rows: 30px 20px 1fr;
        flex-direction: column;
        gap: 2rem;
        height: 100%;
        max-height: 100%;
        justify-items: center;
    }

	h1 {
        text-align: center;
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
        margin-bottom: 2rem;
	}

    input {
        color: #F3DAA4;
        padding: 0.5rem;
        width: 450px;
        align-self: center;
        outline: none;
        background: #3C0002;
        border:none;
        border-radius: 3px;
    }

    .table-container {
        width: 500px;
        height: 100%;
        overflow-y: auto;
    }

    table {
        width: 450px;
        table-layout: fixed;
        margin: auto;
        color: white;
    }

    th {
        color: #F3DAA4;
    }

    td {
        text-align: center;
        border: solid 2px #3C0002;
        padding: 0.2rem 0.5rem;
    }
	
</style>
